# Window rules
assign [class="Google-chrome"] $browsers
assign [class="Microsoft-edge"] $browsers
assign [class="Firefox"] $browsers
assign [class="Vivaldi-stable"] $browsers
assign [class="Opera"] $browsers

assign [class="Code"] $editors
assign [class="code"] $editors
assign [class="Atom"] $editors
assign [class="atom"] $editors
assign [class="pulsar"] $editors
assign [class="Pulsar"] $editors
assign [class="Logseq"] $editors
assign [class="logseq"] $editors
assign [class="WorkFlowy"] $editors
assign [class="workflowy"] $editors
assign [class="obsidian"] $editors
assign [class="marktext"] $editors

assign [class="kitty"] $terminals
assign [class="org.wezfurlong.wezterm"] $terminals

# for_window [class="Virt-manager"] floating enable

# Removing window borders
# for_window [class="^.*"] border pixel 0 # deprecated
